<html>
<head>
    <title>Archive</title>
    {% include "style.css" %}
</head>

<body>

    <h1>Zammad Archive - Group {{ group.name }}</h1>

    <table>
{% for ticket in group.tickets %}
        <tr><td>{{ ticket.data.number }}</td><td><a href="../{{ ticket.path }}/ticket.html">{{ ticket.data.title }}</a></td></tr>
{% endfor %}
    </table>

    <br>
    <br>
    <footer>
    <small>Generated at {{ "now"|date }}</small>
    </footer>

</body>
</html>
