<html>
<head>
    <title>Archive | Ticket {{ ticket.number }}</title>
    {% include "style.css" %}
</head>

<body>
    <h1>{{ ticket.number }}: {{ ticket.title }}</h1>

    <table class="pure-table">
        <tr><td>Created at</td><td>{{ ticket.created_at }}</td></tr>
        <tr><td>Created by</td><td>{{ ticket.owner_id }}</td></tr>
        <tr><td>Articles</td><td>{{ ticket.article_count }}</td></tr>
        <tr><td>Customer</td><td>{{ ticket.customer }}</td></tr>
        <tr><td>Owner</td><td>{{ ticket.owner }}</td></tr>
    </table>

{% for article in articles %}
    <hr>

    <table class="pure-table">
        <tr><td>Created at</td><td>{{ article.created_at }}</td></tr>
        <tr><td>Created by</td><td>{{ article.created_by }}</td></tr>
        <tr><td>From</td><td>{{ article.from }}</td></tr>
        <tr><td>To</td><td>{{ article.to }}</td></tr>
        <tr><td>Subject</td><td>{{ article.subject }}</td></tr>
        <tr><td>Sender</td><td>{{ article.sender }}</td></tr>
        <tr><td>Type</td><td>{{ article.type }}</td></tr>
    </table>
    <br>
    <br>

    <div style="border: 1px solid black; padding: 5px;">
        {{ article.body | raw | nl2br}}
    </div>

    <br>
    <br>
    <table class="pure-table">
    {% for attachment in article.attachments %}
        <tr><td><a href="articles/{{ article.id }}/{{ attachment.filename }}">{{ attachment.filename }}</a></td><td>{{ attachment.size }} bytes</td></tr>
    {% endfor %}
    </table>
{% endfor %}

    <small>Generated at {{ "now"|date }}</small>
</body>
</html>
