<html>
<head>
    <title>Archive | Ticket {{ ticket.number }}</title>
    {% include "style.css" %}
</head>

<body>
    <h1>{{ ticket.number }}: {{ ticket.title }}</h1>

    <table>
        <tr><th colspan=2>Ticket info</th></tr>
        <tr><td>Created at</td><td>{{ ticket.created_at }}</td></tr>
        <tr><td>Created by</td><td>{{ ticket.owner_id }}</td></tr>
        <tr><td>Articles</td><td>{{ ticket.article_count }}</td></tr>
        <tr><td>Customer</td><td>{{ ticket.customer }}</td></tr>
        <tr><td>Owner</td><td>{{ ticket.owner }}</td></tr>
        <tr><td>Tags</td><td><ul>{% for tag in tags %}<li>{{ tag }}</li>{% endfor %}</ul></td></tr>
        <tr><td>Content class</td><td><ul>{% for c in ticket.content_class|default([]) %}<li>{{ c }}</li>{% endfor %}</ul></td></tr>
    </table>
    <br>
    <br>

    <table>
        <tr><th colspan=3>History</th></tr>
{% for state in history%}
        <tr>
            <td>{{ state.created_at }}</td>
            <td>{{ state.object }}</td>
            <td>{{ state.type }} : {{ state.attribute }}</td>
        </tr>
        <tr>
        {% if state.type == "updated" %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>{{ state.attribute }}</td>
        {% elseif state.value_from != "" or state.value_to != "" %}
            <td>&nbsp;</td>
            <td>{{ state.value_from }}</td>
            <td>{{ state.value_to | replace({"(": " ("})}}</td>
        {% endif %}
        </tr>
{% endfor %}
    </table>
    <br>
    <br>

{% for article in articles %}
    <table>
        <tr><th colspan=2>Article {{ article.id }}</th></tr>
        <tr><td>Created at</td><td>{{ article.created_at }}</td></tr>
        <tr><td>Created by</td><td>{{ article.created_by }}</td></tr>
        <tr><td>From</td><td>{{ article.from }}</td></tr>
        <tr><td>To</td><td>{{ article.to }}</td></tr>
        <tr><td>Subject</td><td>{{ article.subject }}</td></tr>
        <tr><td>Sender</td><td>{{ article.sender }}</td></tr>
        <tr><td>Type</td><td>{{ article.type }}</td></tr>
    </table>
    <br>
    <br>

    <div style="border: 1px solid black; padding: 5px;">
        {{ article.body | raw | nl2br }}
    </div>
    <br>
    <br>

{% if article.attachments|length%}
    <table  >
        <tr><th colspan=2>Attachments</th></tr>
    {% for attachment in article.attachments %}
        <tr>
          <td>
            <a href="{{ get_article_attachment_link(article.id, attachment.filename) }}">{{ attachment.filename }}</a>
            <span title="WARNING: attachments may contain harmful content.">&#9888;</span>
          </td>
          <td>{{ attachment.size }} bytes</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <br>
{% endif %}

{% endfor %}

    <br>
    <br>
    <footer>
    <small>Generated at {{ "now"|date }}</small>
    </footer>
</body>
</html>
